{% extends 'parent.html.twig' %}

{% block title %}Hello SiteController!
{% endblock %}


{% block body %}
	<div class="main">
		<section class="sections home text-center">
			<div class="overlay">
				<div class="container">
					<div class="home-content">
						<h1 class="title" style="background-image: url({{ asset('uploads/images/giphy.gif') }})">GameLoc</h1>
						<h2 class="subheading">Bienvenue sur
							<span class="underline--magical">GameLoc</span>
							, si tu cherches à louer ou mettre à disposition des Jeux videos ou Jeux de sociétés, tu es au bon endroit.</h2>
						<buton>
								<a href="#about" class="btn button">EN SAVOIR PLUS</a>
							</buton>
							<buton>
                                <a href="{{ path('app_register') }}" class="btn button">CREER UN COMPTE</a>
                            </buton>
					</div>
					<div id="about" class="scroll-btn">
						<section id="section08" class="demo">
							<a href="#scroll-btn">
								<span></span></a>
						</section>
					</div>
				</div>
			</div>
		</section>
		<section class="encoche">
			<div class="about">
				<h2 class="centre">Comment ça marche ?</h2>
				<div class="etapes">
					<div class="etape">
						<h3>Etape 1</h3>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, unde quod perspiciatis sapiente iste temporibus officia harum, asperiores in velit, vel repudiandae reiciendis eaque nobis. Eligendi autem doloremque esse in?</p>
					</div>
					<div class="etape">
						<h3>Etape 2</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum recusandae repellat eius ullam, velit sed doloremque blanditiis vitae, porro dignissimos accusantium sequi quis. Officia ipsam veritatis harum, dolorum repudiandae unde!</p>
					</div>
					<div class="etape">
						<h3>Etape 3</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias et quas obcaecati ex aspernatur dolorem aliquam alias dicta doloremque ullam? Eligendi excepturi minima similique voluptas officia voluptatum nisi dolorem ullam!</p>
					</div>
				</div>
			</div>
		</section>
		<h1>Offer index</h1>
		<table>
			<tbody>
				<section class= "decalnav">
					<div id ="scroll-btn" class="row justify-content-md-center">
					    {% for offer in offers %}
							<section class="cards_body">
								<div class="blog-post">
									<div class="blog-post_img">
										<img src="{{ asset('uploads/' ~ offer.picture) }}" alt="Lorem1">
									</div>
									<div class="blog-post_info"> 
										<div class="blog-post_date">
											<span>{{ offer.user.username }}</span>
											<span>{{ offer.publicationDate ? offer.publicationDate|date('Y-m-d H:i:s') : '' }}</span>
										</div> 
										<h1 class="blog-post_title">{{ offer.title }}</h1>
										<p class="blog-post_text">{{ offer.category.title }}</p>
										<a href="{{ path('offer', {'id': offer.id}) }}" class="blog-post_cta">En savoir plus</a> 
										<div class="blog-post_price">
											<p>PRIX<i class="fas fa-euro-sign"></i></p>
										</div>
									</div> 
								</div>
							</section>
							{# {% else %}
								<tr>
									<td colspan="9">no records found</td>
								</tr> #}
						{% endfor %}
					</div>
				</section>
			</tbody>
		</table>
	</div>
{% endblock %}
