{% extends 'parent.html.twig' %}

{% block title %}Hello SiteController!
{% endblock %}


{% block body %}
	<div class="main">
		<section class="sections home text-center">
			<div class="overlay">
				<div class="container">
					<div class="home-content">
						<h1 class="title" style="background-image: url({{ asset('uploads/images/giphy.webp') }})">GameLoc</h1>
						<h2 class="subheading">Bienvenue sur
							<span class="underline--magical">GameLoc</span>
							, si tu cherches à louer ou mettre à disposition des Jeux videos ou Jeux de sociétés, tu es au bon endroit.</h2>
						<buton>
							<a href="#contact" class="btn button">EN SAVOIR PLUS</a>
						</buton>
						<a class="btn button" href="{{ path('app_register') }}">CREER UN COMPTE</a>
					</div>
					<div class="scroll-btn">
						<section id="section08" class="demo">
							<a href="#scroll-btn">
								<span></span></a>
						</section>
					</div>
				</div>
			</div>
		</section>
		<h1>Offer index</h1>
		<table class="table">
			<tbody>
				<section>
					<div id ="scroll-btn" class="row justify-content-md-center">
						{% for offer in offers %}
							<div class="col col-lg-2">
								<div class="card">
									<h3>{{ offer.title }}</h3>
									<h4>{{ offer.game.title }}</h4>
									<h5>{{ offer.category.title }}</h5>
									<img class="card-img-top" src="{{ offer.picture }}" alt="Card image cap">
									<div class="card-body">
										<p class="card-text">{{ offer.content }}</p>
										<p>{{ offer.publicationDate ? offer.publicationDate|date('Y-m-d H:i:s') : '' }}</p>
										<a href="{{ offer.user.username }}">{{ offer.user.username }}</a>
										<p>{{ offer.sellingPrice }}</p>
										<p>{{ offer.rentPrice }}</p>
										<p>{{ offer.statement }}</p>
										<a href="{{ path('offer_show', {'id': offer.id}) }}">show</a>
									</div>
								</div>
							</div>
						{% else %}
							<tr>
								<td colspan="9">no records found</td>
							</tr>
						{% endfor %}
					</div>
				</section>
			</tbody>
		</table>
	</div>
{% endblock %}
