{% extends 'parent.html.twig' %}

{% block title %}Hello SiteController!
{% endblock %}

{% block body %}
<section class="container decalnav decalcard decalsearch">
    <div class="row">
        <h1>Chercher des Annonces</h1>
        <form action="" method="GET">
            <label>
                <strong>entrez un mot clé</strong>
                <input type="text" name="mot" placeholder="mot-clé" required>
                <button type="submit">envoyer la recherche</button>  
            </label>
        </form>
    </div>
</section>
	{% for offer in offers %}
		<section class="cards_body">
			<div class="blog-post">
				<div class="blog-post_img">
					<img src="{{ asset('uploads/' ~ offer.picture) }}" alt="Lorem1">
				</div>
				<div class="blog-post_info"> 
					<div class="blog-post_date">
						<span>{{ offer.user.username }}</span>
						<span>{{ offer.publicationDate ? offer.publicationDate|date('Y-m-d H:i:s') : '' }}</span>
					</div> 
					<h1 class="blog-post_title">{{ offer.title|striptags|slice(0, 17)|raw }}...</h1>
					<p class=" blog-post_price">PRIX<i class="fas fa-euro-sign"></i></p>
					<p class="blog-post_text">{{ offer.category.title }}</p>
					<a href="{{ path('offer', {'id': offer.id}) }}" class="blog-post_cta">En savoir plus</a> 
				</div> 
			</div>
		</section>
	{% endfor %}
</section>
{% endblock %}
