{% extends 'parent.html.twig' %}

{% block title %}{{ offer.title }}
{% endblock %}


{% block body %}

<section class="cards_body">
	<div class="blog-post_img">
			<img src="{{ asset('uploads/' ~ offer.picture) }}" alt="Lorem1">
		</div>
			<div class="blog-post_info">
				<div class="blog-post_date">
					<span>{{ offer.user.username }}</span>
					<span>{{ offer.publicationDate ? offer.publicationDate|date('Y-m-d H:i:s') : '' }}</span>
				</div>
					<h1 class="blog-post_title"></h1>
					<p class="blog-post_text">
						{{ offer.content }}
					</p>
			</div>
		</div>
	</div>
</section>

<h2>Cette annonce t'interresse ? C'est ici pour contacter le vendeur/loueur</h2>
{% if is_granted('ROLE_USER') %}
 {% for message in app.flashes('message') %}
    <div class="p-3 my-2 rounded-2 success">{{ message }}</div>
{% endfor %}
<div class="container">
 {{ form_start(form) }}
            {{ form_widget(form.title) }}
            {{ form_row(form.email) }}
            {{ form_row(form.message) }}
 <button class="btn btn-secondary btn-lg">Envoyer</button>
 {{ form_end(form) }}
</div>

{% else %}
<a class="btn btnadmin" href="{{ path('app_register') }}">CREER UN COMPTE</a>
<a class="btn btnadmin" href="{{ path('app_login') }}">CONNEXION</a>
{% endif %}

{% endblock %}

{% block javascripts %}
	<script>
		window.onload = () => {
			document.querySelector("#offer_contact_title").value = "{{ offer_contact.title|raw }}";
			// On met un écouteur d'évènements sur tous les boutons répondre
			document.querySelectorAll("[data-reply]").forEach(element => {
				element.addEventListener("click", function(){
					document.querySelector("#comments_parentid").value = this.dataset.id;
				});
			});
		}
	</script>
{% endblock %}