{% extends 'parent.html.twig' %}

{% block title %}Hello SiteController!
{% endblock %}

{% block body %}
<section class="container decalnav decalcard decalsearch">
    <div class="row search">
        <h2 class="search-title">Chercher des Annonces</h2>
        <form class="search-form" action="" method="GET">
            <label class="search-cont">
                <strong class="strong-search">Entrer un mot-clé</strong>
                <input class="form-control mr-sm-2 input-search" type="search" name="mot" placeholder="Mot-clé" aria-label="Search" required>
                <button type="submit" class="btn btn-secondary btn-lg6 search-bt">Rechercher</button>  
            </label>
        </form>
    </div>
</section>
<section class="doublecard">
	{% for offer in offers %}
		<section class="cards_body">
			<div class="blog-post">
				<div class="blog-post_img">
					<img src="{{ asset('uploads/' ~ offer.picture) }}" alt="Lorem1">
				</div>
				<div class="blog-post_info"> 
					<div class="blog-post_date">
						<span>{{ offer.user.username }}</span>
						<span>{{ offer.publicationDate ? offer.publicationDate|date('Y-m-d H:i:s') : '' }}</span>
					</div> 
					<h1 class="blog-post_title">{{ offer.title|striptags|slice(0, 17)|raw }}...</h1>
					{# <p class=" blog-post_price">PRIX<i class="fas fa-euro-sign"></i></p> #}
					<p class="blog-post_text">{{ offer.category.title }}</p>
					<div id="boutonsoffres">
						<a href="{{ path('offer', {'id': offer.id}) }}" class="blog-post_cta">En savoir plus</a> 
						<a href="{{ path('offer', {'id': offer.id}) }}#offer-titre2" class="blog-post_cta">Contacter le loueur</a>
					</div> 
				</div> 
			</div>
		</section>
	{% endfor %}
</section>
{% endblock %}
