{% extends 'parent.html.twig' %}

{% block title %}Profil de {{ app.user.username }}{% endblock %}

{% block body %}
	{# <div class="grix xs4 container">
		{% for message in app.flashes('message') %}
			<div class="col-xs4">
				<div class="p-3 my-2 rounded-2 success">{{message}}</div>
			</div>
		{% endfor %}
		<div class="col-xs4">
			<h1>Profil de {{ app.user.username }}</h1>
		</div>
		<div class="col-xs1">Email :{{ app.user.email }}</div>
		<div class="col-xs4">
            <a href="{{ path('users_profil_modifier') }}" class="btn blue">Modifier le profil</a>
            <a href="{{ path('users_pass_modifier')}}" class="btn blue">Modifier le mot de passe</a>
            <a href="{{ path('users_data')}}" class="btn grey">Voir mes données personnelles (RGPD)</a>
        </div>

		<div class="col-xs4">
			<h1>Mes Annonces ({{ app.user.offers|length }}) :</h1>
		</div>
        {% for offer in app.user.offers %}
            <div class="col-xs1">Titre :</div>
            <div class="col-xs3">{{ offer.title }}</div>
        {% endfor %}
        
	</div> #}


<div class="container bootstrap snippets bootdey decalnav profilfont">
    <div class="row">
        <div class="profile-nav col-md-3">
            <div class="panel">
                <div class="user-heading round">
                    <a href="#">
                        <img id="avatar" src="{{ asset('uploads/images/Avatar.png') }}" alt="avatar"></a>
                    </a>
                    <h1>{{ app.user.username }}</h1>
                    <p>{{ app.user.email }}</p>
                </div>
                    <div class="profilrub">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="{{ path('profil') }}"> <i class="fa fa-user"></i> Profil</a></li>
                            <li><a href="{{ path('editprofil') }}"> <i class="fa fa-edit"></i> Modifier profile</a></li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="profile-info col-md-9">
            <div class="panel">
                <form>
                    <textarea placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area"></textarea>
                </form>
                <footer class="panel-footer">
                    <button class="btn pull-right">Post</button>
                </footer>
            </div>
            <div class="panel">
                <div class="bio-graph-heading">
                    Amateur de jeux videos en tout genre, je mets à disposition toutes ma collection de jeux videos.
                </div>
                <div class="panel-body bio-graph-info">
                    <h2>Informations personnelles</h2>
                    <div class="row">
                        <div class="bio-row">
                            <p><span>Prénom </span>: {{ app.user.username }}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Adresse </span>: {{ app.user.adress }}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Code Postal </span>: {{ app.user.zipcode }}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Email </span>: {{ app.user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">
                                    <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="{{ app.user.offers|length }}" data-fgcolor="#96be4b" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(150, 190, 75); padding: 0px; -webkit-appearance: none; background: none;"></div>
                                </div>
                                <div class="bio-desk">
                                    <h4 class="green decalsearch">Nombre d'annonces</h4>
                                    {% for offer in offers %}
                                        <section class="cards_body">
                                            <div class="blog-post">
                                                <div class="blog-post_img">
                                                    <img src="{{ asset('uploads/' ~ offer.picture) }}" alt="Lorem1">
                                                </div>
                                                <div class="blog-post_info"> 
                                                    <div class="blog-post_date">
                                                        <span>{{ offer.user.username }}</span>
                                                        <span>{{ offer.publicationDate ? offer.publicationDate|date('Y-m-d H:i:s') : '' }}</span>
                                                    </div> 
                                                    <h1 class="blog-post_title">{{ offer.title|striptags|slice(0, 17)|raw }}</h1>
                                                    <p class=" blog-post_price">PRIX<i class="fas fa-euro-sign"></i></p>
                                                    <p class="blog-post_text">{{ offer.category.title }}</p>
                                                    <a href="{{ path('offer', {'id': offer.id}) }}" class="blog-post_cta">En savoir plus</a> 
                                                    {# <a href="{{ path('offer_show', {'id': offer.id}) }}" class="btn blog-post_btn">show</a> #}
                                                    <a href="{{ path('editoffer', {'id': offer.id}) }}"class="btn blog-post_btn">Modifier</a>
                                                </div> 
                                            </div>
                                        </section>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}