{% extends 'parent.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <section class="decalnav home">
        <div class="blocform">
            <h1>Register</h1>

            <div>
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username, {label: 'Pseudo'}) }}
                    {{ form_row(registrationForm.adress, {label: 'Adresse'}) }}
                    {{ form_row(registrationForm.zipcode, {label: 'Code Postal'}) }}
                    {{ form_row(registrationForm.email, {label: 'Email'}) }}
                    {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
                    {{ form_row(registrationForm.agreeTerms , {label: 'CGU'}) }}

                    <button type="submit" class="btn">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock %}
