<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GameLoc</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
        <script src="https://kit.fontawesome.com/d09148459e.js" crossorigin="anonymous"></script>

        <title>{% block title %}ADMIN{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <header id="navadmin">
    	{% block navbar %}
            <div class="row">
				<nav class="navbar navbar-expand-lg ">
                        <a href="{{ path('index') }}"><img src="../uploads/images/Logofinal2.png" alt="GameLoc"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" >
                            <ul class="navbar-nav mr-auto nav-link id">
                                <li class="navadmin">
                                    <a class="btn btn-primary" href="{{ path('index') }}">RETOUR AU SITE</a>
                                </li>
                                <li class="navadmin">
                                    <a class="btn btnadmin" href="{{ path('user_index') }}">UTILISATEURS</a>
                                </li>
                                <li class="navadmin">
                                    <a class="btn btnadmin" href="{{ path('category_index') }}">CATEGORIES</a>
                                </li>
                                <li class="navadmin">
                                     <a class="btn btnadmin" href="{{ path('offer_index') }}">ANNONCES</a>
                                </li>
                                <li class="navadmin">
                                     <a class="btn btnadmin" href="{{ path('game_index') }}">JEUX</a>
                                </li>
                                <li class="navadmin">
                                    <a class="btn btnadmin" href="{{ path('admin') }}">RETOUR ACCUEIL ADMIN</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
        {% endblock %} 
    </header>
        {% block body %}
        {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
	</script>
	<script src="{{ asset('js/script.js') }}"></script>
    </body>
    
</html>
